body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
   
    text-align: center;
    color: #d8d8d8;
}
.header {
    width: 40%;
    margin: 2rem auto;
    border-bottom: 10px solid #61dafb;
}

.section {
    padding: 1rem;
    border-bottom: 1px solid #d8d8d8;
}
.paragraph{
    font-size: 1.4rem ;
    font-weight: 600;
}
button {
    background-color: #61dafb;
    color: #000000;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    /* font-weight: 600; */
    letter-spacing: 1px;
    box-shadow: 0px 0px 17px #61dafb;
    margin-bottom: 2rem;
    cursor: pointer;
}
.btns-div {
    display: flex;
    flex-direction: column;
}
.btns-div button {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
span {
    font-size: 2rem;
}
form label {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
form input , form select , form textarea {
    margin:15px 0;
	padding:15px 10px;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
    width: 50%;
    box-shadow: 0px 0px 17px #61dafb;
    color: #3c6879;
    font-size: 1.5rem;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    
   
}
form select {
    margin-bottom: 2rem;
}

table {
    width: 100%;
}